header{
    width: 100%;
    padding: 21px 100px 16px 35px;
    border-bottom: 2px solid #F3F6F9;
}
#menuIcon{
    width: 30px;
    height: 27px;
    margin-left: 38px;
    cursor: pointer;
}
.user-initials{
    width: 43px;
    height: 43px;
    border-radius: 5px;
    background: #F6CA65;
    margin-right: 11px;
}
.user-initials h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #ffffff;
}

h3.user-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #005B96;
}