*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.d-flex{
  display: flex;
}
.justify-space-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.full-width{
  width: 100%;
  animation: fullWidth 0.3s ease-in;
}
.half-width{
  width: 50%;
}
.half-width--withAnimation{
  width: 50%;
  animation: halfWidth 0.3s ease-in;
}
@keyframes fullWidth {
  from {width: 50%}
  to {width: 100%}
}
@keyframes halfWidth {
  from {width: 100%}
  to {width: 50%}
}